<!DOCTYPE html>
{% load static %}
<html lang="en">

  <!-- Masukan source yang akan digunakan -->

  <head>
    <meta charset="utf-8">
    <title>Add Schedule</title>
  </head>

  <body>
    <div class="main">
      <form action="" method="POST">{% csrf_token %}      
        <select name ='day'>
            <option name="day" value="monday">Monday</option>
            <option name="day" value="tuesday">Tuesday</option>
            <option name="day" value="wednesday">Wednesday</option>
            <option name="day" value="thursday">Thursday</option>
            <option name="day" value="friday">Friday</option>
            <option name="day" value="saturday">Saturday</option>
            <option name="day" value="sunday">Sunday</option>
        </select>
        <button type="save">Submit</button>
      </form>
    </div>
    <div>
      <h3>
          Please choose which day you wanted to manage!
      </h3>
      <a href="add-schedule-monday">  
          <button>Monday</button>  
      </a>
      <a href="add-schedule-tuesday">  
          <button>Tuesday</button>  
      </a>
      <a href="add-schedule-wednesday">  
          <button>Wednesday</button>  
      </a>
      <a href="add-schedule-thursday">  
          <button>Thursday</button>  
      </a>
      <a href="add-schedule-friday">  
          <button>Friday</button>  
      </a>
      <a href="add-schedule-saturday">  
          <button>Saturday</button>  
      </a>
      <a href="add-schedule-sunday">  
          <button>Sunday</button>  
      </a>
    </div>
  </body>
  
</html>
