<!DOCTYPE html>
{% load static %}
<html lang="en">

  <!-- Masukan source yang akan digunakan -->

  <head>
    <meta charset="utf-8">
    <title>All Timeslot</title>
  </head>

  <body>    
    <div class='container'>
        <div class='content'>
            {% if alltimeslots %}
                {% for alltimeslots in alltimeslots %}
                    <p>Day: {{ alltimeslots.day.day }}</p>
                    <p>Time range: {{ alltimeslots.time_range }}</p>
                    <p>Total seat: {{ allnote.total_seat }}</p>
                    <p>Seat availability: {{ allnote.seat_availability }}</p>
                    <p>Is close?: {{ allnote.is_close }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div> 

  
</html>