<!DOCTYPE html>
<html>
    <head>
        <title>Manage Schedule</title>
    </head>
    <body>
        <h1>
            This is Manage Schedule page!
        </h1>
        <div>
            <h3>
                Please choose what you want to manage!
            </h3>
            <a href="add-schedule">  
                <button>Add Schedule</button>  
            </a>
            <a href="add-timeslot">  
                <button>Add Timeslot</button>  
            </a>
            <a href="all-timeslot">  
                <button>All Timeslot</button>  
            </a>
            <a href="update-schedule">  
                <button>Update Schedule</button>  
            </a>
            <a href="delete-schedule">  
                <button>Delete Schdule</button>  
            </a>
        </div>
    </body>
</html>