<!DOCTYPE html>
<html>
    <head>
        <title>Manage Schedule</title>
    </head>
    <body>
        <h1>
            This is Manage Schedule page!
        </h1>
        <h3>
            Please choose which day you wanted to manage!
        </h3>
        <a href="add-schedule-monday">  
            <button>Monday</button>  
        </a>
        <a href="add-schedule-tuesday">  
            <button>Tuesday</button>  
        </a>
        <a href="add-schedule-wednesday">  
            <button>Wednesday</button>  
        </a>
        <a href="add-schedule-thursday">  
            <button>Thursday</button>  
        </a>
        <a href="add-schedule-friday">  
            <button>Friday</button>  
        </a>
        <a href="add-schedule-saturday">  
            <button>Saturday</button>  
        </a>
        <a href="add-schedule-sunday">  
            <button>Sunday</button>  
        </a>
    </body>
</html>