<!DOCTYPE html>
<html>
    <head>
        <title>Warning</title>
    </head>
    <body>
        <div>
            <h1>You can not do that!</h1>  
            <a href="/schedule">  
                <button>Back</button>  
            </a>
        </div>
        <br>
        <p>Here are things you have to know regarding app operation!</p>
        <ul>
            <li>
                1. When creating a timeslot, the 'Time Stop' can't be earlier than the 'Time Start' hence the 'Create' fails!
            </li>
            <li>
                2. When creating a timeslot, the 'Total Seat' and 'Seat Availability' should exist hence you can't input a negative number and the 'Create' fails!
            </li>
            <li>
                3. When creating a timeslot, you can't have more 'Seat Availability' than the 'Total Seat' hence the 'Create' fails!
            </li>
            <li>
                Syahdan Putra Adriatama - 2006486001
            </li>
            <li>
                Tsabita Sarah Indah Anggayasti - 2006485112
            </li>
        </ul>
    </body>
</html>