{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <h1>Order Confirmation</h1>
  <br>
<table class="table table-borderless">
    <tr>
        <td>Order at {{restaurant}} details:</td>
    </tr>
    {% for fnb in fnbchoices %}
    <tr>
        <td>{{fnb}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Subtotal:</th>
        <td>{{total_price}}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{status}}</td>
    </tr>
    <tr>
        <th>Payment Method:</th>
        <td>{{payment_method}}</td>
    </tr>
</table>
<div class="d-flex justify-content-center">
    <button id="go-back" class="btn btn-light">Back to My Order</button>
</div>
<div class="d-flex justify-content-center">
    {% if status == "Waiting for payment" %}
    <button onclick="pay(this.value)" value="{{id}}" class="btn btn-success">Make payment</button>
    <button onclick="cancel(this.value)" value="{{id}}" class="btn btn-danger">Cancel order</button>
    {% elif status == "Waiting for restaurant's confirmation" %}
    <button onclick="cancel(this.value)" value="{{id}}" class="btn btn-danger">Cancel order</button>
    {% elif status == "Order confirmed" %}
    <button onclick="cancel(this.value)" value="{{id}}" class="btn btn-danger">Request cancel</button>
{% endif %}
</div>
<script>
    document.getElementById('go-back').onclick = function () {
        window.location.href = '/order'
    }

    function cancel(order_id) {
      if ( confirm("Are you sure you want to cancel this order ?") ) {
        $.ajax({
          url: "/order/cancel/" + order_id,
          type: 'POST',
          success: function(order_id) {
              if (order_id != 'None') {
                  location.reload()
              }
              else {
                  alert('Cancellation failed, please try again')
              }
          }
        });
      }
    }

    function pay(order_id) {
        window.location.href = '/order/pay/' + order_id
    }
</script>
{% endblock content %}