{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .picked{
        top: 2px;
        left: 1px;
        background-color: rgb(206, 205, 205);
        box-shadow: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<H1>Select Payment Method</H1>
<br>
<h3>Amount to pay: Rp.{{total}}</h3>
<center>
    {% for method in payment_method %}
    <button class="btn btn-light payment-button" value="{{method}}">{{method}}</button>
    {% endfor %}
</center>
<div class="d-flex justify-content-center">
    <button id="go-back" class="btn btn-primary">Home</button>
    <button class="submit btn btn-success" onclick="pay(this.value)" value="{{order_id}}">Pay</button> 
</div>
<script>
    document.getElementById('go-back').onclick = function () {
        window.location.href = '/order';
    }

    function setEventListeners() {
        var payments = document.getElementsByClassName("payment-button");

        for (var i = 0; i < payments.length; i++) {
            payments[i].addEventListener('click', picked, false);
        }
    }

    function pay(order_id) {
        var payment_method = document.getElementsByClassName("picked")[0].value
        if ( confirm("Are you sure you want to pay with " + payment_method + "?") ) {
            $.ajax({
            url: "{% url 'order:pay_order' order_id %}",
            type: 'POST',
            contentType: "charset=utf-8",
            data: JSON.stringify({payment_method: payment_method}),
            success: function(order_id) {
                if (order_id != 'None') {
                    alert('Payment successful, redirecting to order details')
                    window.location.href = "/order/detail/" + order_id
                }
                else {
                    alert('Payment failed, please try again')
                }
            }
        });
        }
    }

    function picked() {

        var payments = document.getElementsByClassName("payment-button");
        for (var i = 0; i < payments.length; i++) {
            if (payments[i].classList.contains("picked")) {
                payments[i].classList.remove("picked");
            }
        }
        $(this).addClass("picked")
        setEventListeners();
    }

    $(document).ready(function() {
        setEventListeners();
    });
</script>
{% endblock content %}