<html>
    <head>
        <title>Pay Order</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <style>
            .button {
                position: relative;
                padding: 0.5em 1em;
                border: 0;
                border-radius: 0.5em;
                background-color: rgb(206, 205, 205);
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
            .picked{
                top: 2px;
                left: 1px;
                background-color: rgb(118, 117, 117);
                box-shadow: none;
            }
        </style>
    </head>
    <body>
        <H1>Select Payment Method</H1>
        <br>
        <h3>Amount to pay: Rp.{{total}}</h3>
        <center>
            {% for method in payment_method %}
            <button class="button" value="{{method}}">{{method}}</button>
            {% endfor %}
        </center>
        <button id="go-back">Home</button>
        <button class="submit" onclick="pay(this.value)" value="{{order_id}}">Pay</button>
        <script>
            document.getElementById('go-back').onclick = function () {
                window.location.href = '/order';
            }

            function setEventListeners() {
                var payments = document.getElementsByClassName("button");

                for (var i = 0; i < payments.length; i++) {
                    payments[i].addEventListener('click', picked, false);
                }
            }

            function pay(order_id) {
                var payment_method = document.getElementsByClassName("picked")[0].value
                if ( confirm("Are you sure you want to pay with " + payment_method + "?") ) {
                    $.ajax({
                    url: "{% url 'order:pay_order' order_id %}",
                    type: 'POST',
                    contentType: "charset=utf-8",
                    data: JSON.stringify({payment_method: payment_method}),
                    success: function(order_id) {
                        if (order_id != 'None') {
                            alert('Payment successful, redirecting to order details')
                            window.location.href = "/order/detail/" + order_id
                        }
                        else {
                            alert('Payment failed, please try again')
                        }
                    }
                });
                }
            }

            function picked() {
                var payments = document.getElementsByClassName("button");
                for (var i = 0; i < payments.length; i++) {
                    if (payments[i].classList.contains("picked")) {
                        payments[i].classList.remove("picked");
                    }
                }
                $(this).addClass("picked")
                setEventListeners();
            }

            $(document).ready(function() {
                setEventListeners();
            });


        </script>
    </body>
</html>