{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit Food/Beverage</title>
</head>
<a href="/managemenu">return</a>
<body>
    <form method="POST" action="/managemenu/update/{{ fnb.id }}">
        {% csrf_token %}
        <p>
            Edit food/beverage details
        </p>
        <div>
            <p>Name for the food: </p>
            <div>
                <input type="text" name="name" value="{{ fnb.name }}" />
            </div>
        </div>
        <div>
            <p>Price: </p>
            <div>
                <input type="number" name="price" value="{{ fnb.price }}" />
            </div>
        </div>
        <div>
            <p>Description: </p>
            <div>
                <input type="text" name="description" value="{{ fnb.description }}" />
            </div>
        </div>
        <div>
            <p>
                <label for="category">Category:</label> 
                <select name="category" id="category">
                    <option value="{{ fnb.category }}">{{ fnb.category }}</option>
                    {% if fnb.category == 'Beverage' %}
                    <option value="Food">Food</option>
                    {% endif %}
                    {% if fnb.category == 'Food' %}
                    <option value="Beverage">Beverage</option>
                    {% endif %}
                </select>
            </p>
        </div>
        <button type="submit" value="Submit">
            Update
        </button>
        <button>
            <a href="/managemenu/delete/{{ fnb.id }}">Delete</a>
        </button>
    </form>
</body>
</html>