{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Manage Menu</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Food & Beverages</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for f in fnb %}
            <tr>
                <td>{{ f.name }} <br> {{ f.description }}</td>
                <td>{{ f.price }}</td>
                <td>{{ f.category }}</td>
                <td>
                    <a href="edit/{{ f.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a href="create">Add new food or beverage to menu</a></button>
</body>
</html>