<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>
            ReSeat: Reserve and Eat!
        </h1>
        <h2>
            Strudel
        </h2>
        <ul>
            <li>
                Muhammad Devin Pratista - 2006485781
            </li>
            <li>
                Muhammad Razif Firmansyah - 2006463206
            </li>
            <li>
                Rayhan Adhisworo Jardine Hidayat - 2006484186
            </li>
            <li>
                Syahdan Putra Adriatama - 2006486001
            </li>
            <li>
                Tsabita Sarah Indah Anggayasti - 2006485112
            </li>
        </ul>
    </body>
</html>